<div class="container">
<nav class="navbar navbar-dark bg-dark">
<div class="p-2 bd-highlight"><h1 class="text-success">Jarvis</h1></div>
<%= render 'header', post: @post %>
</nav>
<div class="container-fluid">
<%= render 'form', post: @post %>
</div>
</div>